body {
    margin: 0;
    box-sizing: border-box;
}

.section-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p{text-align: center;}

h1{color: white; font-size: 40px;}

#resumo{text-align: center; color: white; font-size: 20px;}

header{background-color:rgb(20, 20, 99);}

footer > p {
    padding-top: 0.5rem;
    border-top: 3px solid black;
}