table {
    border-collapse: collapse;
}
th,
td {
    padding: 15px;
}


p {
    font-family: sans-serif, Tahoma;
}

aside > :nth-child(odd) {
    background-color: orangered;
}

[name] {
    background-color: #b7e6d5;
}

caption {
    background-color: #0b5eb1;
    color: #fff;
    line-height: 20px;
    font-size: 20px;
}


tr:first-child{
    color: purple;
    background-color: wheat;
}

tr:nth-child(2) {
    color: wheat;
    background-color: purple;
}

tr:nth-child(5n+4) {
    color: black;
    background-color: yellow;
}

tr:nth-child(5n+3) {
    color: white;
    background-color: black;
}
